*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(99, 98, 98);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 13px;
    border-bottom:1px solid rgb(201, 194, 194);
}

#logo{
    width: 30%;
    margin-left:35px;
}

#meio{
    font-weight: 600;
    font-size: 1vw;
    display:flex;
    gap: 40px;
    padding: 20px;
    box-shadow:1px 1px 5px grey;
    border-radius:30px;
    margin:0 15px;

    p{
        padding-right:40px;
        border-right:1px solid rgb(196, 191, 191);
    }
}

#direita{
    display: flex;
    align-items: center;
    gap:2vw;
    font-weight: 600;


    #login{
        display: flex;
        border:1px solid  rgb(196, 191, 191);
        border-radius:30px;
        padding:10px 15px;
        margin-right:35px;
        gap:10px;
    }
}


@media(max-width:1040px){
#direita p,#globo{
display: none;
}
}

@media(max-width:950px){
    #meio{
        display: none;
    }
    header{
        justify-content:center;
    }
    #login{
        position:fixed;
        right: -3%;
    }
    
    
    }
    @media(max-width:460px){
        #logo{
            margin-right: 30%;

        }
    }
    @media(max-width:350px){
        header{
            justify-content: space-between;
        }
    }