*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:900px) {
    header #direita{
        display:none;
    }
    header #meio{
        margin-right:150px;

    }

    #direita #opcao{
        background-image:url("icones/list.svg" );
        background-repeat: no-repeat;
    }

}
@media (max-width:800px){
header #logo{
    display: none;
}
header #meio{
   
    font-size: 2vw;
    width:70%;
    margin-left:20%;
}}

@media (max-width:1170px){
    header #direita p {
        display: none;
    }
}

header{

    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
    
}

#logo{
 margin-left: 15px;
 padding-top: 15px;
}

#meio{
    margin-left:170px;
    display: flex;
    text-decoration: none;
    gap: 15px;
    box-shadow: 1px 0px 5px grey;
    border-radius: 40px;
    padding: 15px;
    font-size: 1.5vw;

    p{
        border-right:1px solid grey;
        padding-right:10px;
    }
}

#direita{
    p{
        font-weight: bold;
        font-size: 1.3vw;;
        color:rgb(82, 82, 82);
    }
    display: flex;
    align-items: center;
    gap: 20px;
}
#login{
    border:1px solid grey;
    border-radius:40px;
    padding:12px 16px;
    gap:10px;
    display: flex;
    margin-right:20px;
    
}
#direita #opcao{
    display: none;
}